nav {
  background: #378ad7;
  color: white;
}

.search-input {
  height: 40px;
  border-radius: 30px;
  border-width: 0px;
  text-align: right;
  font-family: Rubik;
  color: #0e69ac;
  background-color: white;
}
