/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"); */

:root {
  --prim-1: #378ad7;
  --prim-2: #6ebdf7;
  --prim-3: rgba(215, 232, 247, 0.4);

  --font-base: 16px;
}

.bg--prim1 {
  background-color: var(--prim-1);
}
.bg--prim2 {
  background-color: var(--prim-2);
}
.bg--prim3 {
  background-color: var(--prim-3);
}

.c--prim1 {
  color: var(--prim-1);
}
.c--prim2 {
  color: var(--prim-2);
}
.c--prim3 {
  color: var(--prim-3);
}

::placeholder {
  color: #0e69ac;
  opacity: 1;
  width: 52.94px;
  height: 41.43px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Rubik";
  margin: 0;
  height: 100%;
}
.flex {
  display: flex;
}

.dir-col {
  flex-direction: column;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-center {
  align-self: center;
}
.as-center {
  align-self: center;
}

.grid {
  display: grid;
}
.fixed {
  position: fixed;
}

.flex-just-between {
  justify-content: space-between;
}
.flex-just-around {
  justify-content: space-around;
}
.flex-just-center {
  justify-content: center;
}

.flex-middle {
  justify-content: center;
  align-items: center;
}

.flex-align-center {
  align-items: center;
}
.gap-8 {
  gap: 8px;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.bg-trans {
  background-color: transparent;
}

.b-0 {
  border: 0;
}

.top {
  top: 0;
}
.buttom-0 {
  bottom: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.px-8 {
  padding: 0 8px;
}

.p-8 {
  padding: 8px;
}

.br-100 {
  border-radius: 100%;
}

.br-small {
  border-radius: 16px;
}

@media (min-width: 0px) {
  .grid-md {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 10px;
    column-gap: 10px;
  }
  .nav-lg {
    display: none;
  }
  .nav-sm {
    display: flex;
  }
  .footer-lg {
    display: none;
  }
  .footer-md {
    display: flex;
  }

  .d-lg {
    display: none;
  }
  .d-md {
    display: flex;
  }
}

@media (min-width: 768px) {
  .grid-lg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 50px;
    column-gap: 50px;
  }
  .nav-lg {
    display: flex;
  }

  .nav-sm {
    display: none;
  }

  .footer-lg {
    display: flex;
  }
  .footer-md {
    display: none;
  }
  .d-lg {
    display: flex;
  }
  .d-md {
    display: none;
  }
}

.car-type-img {
  width: 100%;
  height: 200px;
  border-radius: 2rem;
}

.car-detial-img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}

.ff-rubik {
  font-family: "Rubik";
}

.po-rel {
  position: relative;
}

.po-abs {
  position: absolute;
}
.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.m-8 {
  margin: 8px;
}

.br-100 {
  border-radius: 100%;
}

.d-ib {
  display: inline-block;
}

.g-8f {
  gap: 8px;
}

.w-8f {
  width: 8px;
}
.w-8f {
  height: 8px;
}

.p-32f {
  padding: 32px;
}
.m-32f {
  margin: 32px;
}
.mb-32f {
  margin-bottom: 32px;
}

.p--1 {
  padding: 2rem;
}

.p--2 {
  padding: 1.5rem;
}
.p--3 {
  padding: 1rem;
}
.pb--3 {
  padding-bottom: 1rem;
}

.p--4 {
  padding: 0.75rem;
}

.f-g-1f {
  flex-grow: 1;
}

.jc-center {
  justify-content: center;
}

.p-16f {
  padding: 16px;
}

.g-32f {
  gap: 32px;
}
.bg-grey {
  background-color: grey;
}

.fw-bold {
  font-weight: bold;
}

.fs--1 {
  font-size: 2rem;
}
.fs--2 {
  font-size: 1.5rem;
}
.fs--3 {
  font-size: 1.25rem;
}
.fs--4 {
  font-size: 1rem;
}
.fs--5 {
  font-size: 0.75rem;
}
.fs--6 {
  font-size: 0.5rem;
}

.fb-40 {
  flex-basis: 40%;
}
.fb-50 {
  flex-basis: 50%;
}
.fb-60 {
  flex-basis: 60%;
}
